
.index-bgUrl {
  background-image: url('../images/bg_home_mobile.jpeg');
  background-size: cover;
  .row {
    height: 336px;
  }
}
.index-card-color {
  color: $primaryGreen;
  transition-duration:0.3s; 
}
.border-bottom-line-gary {
  border-bottom: 3px solid #fff;
  width: 50px;
  height: 3px;
  display: inline;
  transition-duration:0.3s; 
}

@mixin mixin-index-cardBg($url) {
  position: relative;
  z-index: 1;
  height: 263px;
  & > p {
    color: $gray-500;
    transition-duration:0.3s; 
  }
  &::before{
  content: '';
  background-image: url($url);
  opacity: 0.4;
  background-position: center;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .1; 
  z-index: -1;
  transition-duration:1s; 
  }
  &:hover {
    p {
      -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
    color: #fff;
    }
    &::before {
      opacity: .6; 
    }
    .index-card-color {
      color: $primaryGreen
    }
    .border-bottom-line-gary {
      border-color: $primaryGreen;
    }
  }
}
.index-cardBg-01 {
  @include mixin-index-cardBg('../images/info01.jpeg')
}
.index-cardBg-02 {
  @include mixin-index-cardBg('../images/info02.jpeg')
}
.index-cardBg-03 {
  @include mixin-index-cardBg('../images/info03.jpeg')
}
.index-cardBg-04 {
  @include mixin-index-cardBg('../images/info04.jpeg')
}

.index {
  .introductionCard {
    color: #fff;
  }
  .hover-border:hover {
    outline: 2px solid $primaryGreen;
    color: #fff;
    transition-duration:0.2s;
    .material-icons {
      color: transparent;
    }
  }
  .banner-box {
    width: 10px;
    height: 10px;
    background: #fff;
  }
  .card-number {
    top: -24px;
  }
}

.articl-corner{
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-left: 1px solid $primaryGreen;
    border-top: 1px solid $primaryGreen;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-right: 1px solid $primaryGreen;
    border-top: 1px solid $primaryGreen;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-left: 1px solid $primaryGreen;
    border-bottom: 1px solid $primaryGreen;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-right: 1px solid $primaryGreen;
    border-bottom: 1px solid $primaryGreen;
    border-bottom-right-radius: 10px;
  }
}
.index-articl-card:hover {
  .articl-corner {
    display: inline-block;
  }
}

@include bs5-sm {
  .index-bgUrl {
    background-image: url('../images/bg_home.jpeg');
    .row {
      height: 680px;
    }
  }
  .index {
    .material-icons {
      color: $gray-600;
    }
    .introductionCard {
      color: $gray-600;
    }
    .card-number {
      top: -38px;
    }
  }
  .index-card-color {
    color: $gray-800;
  }
  .index-addUsArea-text {
    width: 70%;
  }
}
@include bs5-lg {
  .index-cardBg-01, .index-cardBg-02, .index-cardBg-03, .index-cardBg-04{
    height: 615px;
  }
}
