
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 4px 4px 4px 4px;
  width: 15px;
}
.swiper-pagination-bullet {
  background: $primaryGreen;
}
.swiper-button-next, .swiper-button-prev {
  color: $primaryGreen;
}
.radius-tl-tr-br {
  border-radius: 24px 24px 24px 0px;
}
.swiper-img-after {
  img {
    max-width: 331px;
  }
}
.swiper-img-after::after {
  content: '';
  border: 1px solid #7C7E77;
  position: absolute;
  top:13px;
  left:7%;
  right:20px;
  bottom:-5px;
  z-index: -1;
  border-radius: 24px;
}

//刪掉 swiper 原有的定義
.swiper-button-next, .swiper-button-prev { 
  width: initial;
}
.swiper-button-prev:after,.swiper-button-next:after {
  content:'';
}
.swiper-button-next, .swiper-button-prev, .swiper-pagination {
  position: unset;
  width: unset;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: unset;
  margin-bottom: 3px;
}

@include bs5-sm {
  .mySwiper {
    .material-icons {
      color: $primaryGreen;
    }
  }
  .card-md-pos-absolute {
    position: absolute;
    left: 54%;
    bottom:-48px;
  }
  .swiper-pagination-md-area {
    position: absolute;
    left:31%;
    bottom:0;
    z-index: 1;
  }
  .swiper-bgImg {
    background-image: url('../images/bg_share.jpeg');
  background-size: cover;
  
  }
  .swiper-img-after {
    img {
      max-width: 100%;
    }
  }
  .swiper-img-after::after {
    top:13px;
    left:0px;
    right:20px;
    bottom:-11px;
  }
}
